body{
	background-color: #181818;
    color: white;
    text-align: center;
}
header{
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
header a{
	color: #f5f0f0;
}
header a:visited{
	color: #e6dfdf;
}
header a:hover{
	color: #d1cbcb;
}
header a:active{
	color: #c7c1c1;
}
#message{
    color: red;
    font-weight: bold;
    font-size: 19px;
    transform: translateY(30px);
    margin-bottom: 50px;
}